.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.input {
  width: 120px;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #3c3c3c;
}

.button {
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #171817;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #d3e0e3;
  color: rgb(17, 18, 18);
}

@media (min-width: 768px) {
  .header {
    padding: 16px;
  }
  .input {
    width: 280px;
    padding: 10px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 16px;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 20px;
  }
  .input {
    width: 400px;
    padding: 20px;
  }

  .button {
    margin-left: 20px;
  }
}
